/***** Palette *****/
/***** #11cbd7 *****/
/***** #c6f1e7 *****/
/***** #f0fff3 *****/
/***** #fa4659 *****/

/******* General *******/
/**** Tag selectors ****/
html,
body {
  height: 100%;
  margin: 0;
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3.7rem;
}

h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.5rem;
}
/**** Class selectors ****/
.container-fluid {
  padding: 3% 15%;
}

.btn {
  margin: 20px 10px 0 0;
}

.btn-dark {
  background-color: #2f2f2f;
  border-color: #2f2f2f;
}

.btn-outline-light {
  color: #f0fff3;
  border-color: #f0fff3;
}

/************** Title Section ***************/
/**** Class selectors ****/
.phone-img {
  width: max(40%, 200px);
  transform: rotate(20deg);
  margin: 35px;
}

.navbar {
  margin-bottom: 2rem;
  padding: 0;
}

.navbar-brand {
  font-family: "Dosis", sans-serif;
  font-size: 1.6rem;
}

.navbar-collapse {
  padding: 0;
  margin: 0;
}

.nav-item {
  padding: 0 30px 0 0;
}

.nav-link {
  font-family: "Dosis", sans-serif;
  font-size: 1.2rem;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.navbar-toggler:hover {
  outline: none;
  box-shadow: 0 0 0 2pt #c6f1e7;
}

/**** ID selectors ****/
#title {
  background-color: #fa4659;
  color: #f0fff3;
  min-height: 100%;
}
/************** Features Section ***************/
/**** Class selectors ****/
.feat-col-container {
  text-align: center;
}

.feat-paragraph {
  color: #11cbd7;
}

.feat-icon:hover {
  color: #ea2629;
}

/**** ID selectors ****/
#features {
  background-color: #f0fff3;
  color: #fa4659;
  min-height: 50%;
  position: relative;
}

/*********** Media queries ***********/
/* If the screen size is 
600px wide or less, hide the element */
@media only screen and (max-width: 600px) {
  /**** General ****/
  h1 {
    font-size: 2rem;
  }
  .container-fluid {
    padding: 7%;
  }
  .btn {
    font-size: 0.8rem;
  }
  /**** Title section ****/
  .navbar {
    margin-bottom: 0;
  }
  .navbar-brand {
    font-size: 1.2rem;
  }
  .nav-link {
    font-family: "Dosis", sans-serif;
    font-size: 1rem;
  }
  .phone-img {
    margin: 50px;
  }
  /**** Features section ****/
  #features {
    padding: 100px 0;
  }
}
